.Home{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.Home__left{
    display: flex;
    flex-direction: column;
}

.Home__left-Devices{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Home__right{
    display: flex;
    flex-direction: column;
}

 .Home__right-map{
    flex: 2;
}

.Home__right-history{
    flex: 1;
    height: 100%;
    padding-bottom: 5px;
} 