.Settings{
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
    height: 850px;
    padding: 5px;
}

.Settings__Header{
    display: flex;
}

.Settings__sections{
    background-color:#515151;
    width: 185px;
    /* min-height: 100%; */
    height: 850px;
}

.Settings__wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Settings__wrapper-map{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* .Settings__devices_list{
    margin: 0px 5px;
    min-width: 300px;
    height: 100%;
    background-color:#515151;
    overflow-y: scroll;
    overflow-x: hidden;
}::-webkit-scrollbar{
    display: none;
} */

.Settings__TableCell {
    background-color: "#515151"; 
}

.Settings__TableCell:hover {
    background-color: #8f8f8f;
}

.Settings__TableCell h4{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

/* .Settings__table-div{
    display: flex;
    height: 40px;
    align-items: center;
}

.Settings__table-div span{
    padding: 0px 10px;
    color: white;
}

.Settings__Table-img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
} */

.Settings__map{
    width: 100%;
    height: 830px;
}

.Settings__map__body{
    height: 100%;
}