.Map{
    width: 988px;
    padding: 5px 0px 5px 0px;
    height: 96%;
}

.Map__header{
    display: flex;
    width: 100%;
}

.Map__body{
    width: 100%;
    background: #3b3b3b;
    /* height: 830px; */
    height: 100%;
}

.Map__body-NNPC{
    height: 100%;
}