.DashBoard__left{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.DashBoard__left{
    display: flex;
    flex-direction: column;
}

.DashBoard__left-Devices{
    display: flex;
    flex-direction: row;
    width: 100%;
}