.History{
    width: 100%;
    /* height: 100%;    */
    /* height: 200px; */
    /* background-color: rgb(100, 100, 100); */
    /* overflow: scroll; */
}

.History__header{

}

.History__table{
    /* display: flex;
    flex-direction: column;
    height: 256px; */
    /* height: 100%; */
}

.History__table-body{
    /* height: 100px; */
    /* overflow-y: scroll; */
}
