.Section{
    /* background-color: #5e5e5e; */
    /* border-radius: 5px; */
    /* color: white; */
    /* width: 100px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* cursor: pointer; */
    border-radius: 10px;
    border: #a0bd11;
}

.Section button{
    height: 100%;
    width: 150px;
    border-radius: 10px;
    border: 2px solid #a0bd11;;
    cursor: pointer;
    color: white;
    background-color: #5e5e5e;
    font-size: 24px;
    font-weight: bold;
    font-family: helvetica,arial,verdana,sans-serif;
    
}

/* .Section span{
    font-size: 20px;
    font-weight: bold;
    font-family: helvetica,arial,verdana,sans-serif;;
} */